# dependencies
node_modules/

# build output
dist/
release/
!release/
release/*
!release/uTools Lite Setup 0.1.2.exe
!release/uTools Lite Setup 0.1.2.exe.blockmap
!release/uTools Lite Setup 0.1.3.exe
!release/uTools Lite Setup 0.1.3.exe.blockmap
!release/uTools Lite Setup 0.1.4.exe
!release/uTools Lite Setup 0.1.4.exe.blockmap
!release/uTools Lite Setup 0.1.5.exe
!release/uTools Lite Setup 0.1.5.exe.blockmap
!release/uTools Lite Setup 0.1.6.exe
!release/uTools Lite Setup 0.1.6.exe.blockmap
!release/uTools Lite Setup 0.1.7.exe
!release/uTools Lite Setup 0.1.7.exe.blockmap
build/*.png
!build/icon.png
!build/tray-icon.png

# logs & OS noise
*.log
.DS_Store
Thumbs.db
